Django==5.0.3
psycopg2-binary==2.9.9
celery==5.4.0
redis==5.0.3
django-redis==5.4.0
django-celery-beat==2.6.0
django-celery-results==2.5.1
python-dotenv==1.0.1
ipython==8.23.0
django-debug-toolbar==4.3.0
django-extensions==3.2.3




